.card-body{
    color: black;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.btn
{
    background-color: rgb(72, 18, 219);
}

img{
    padding: 15px 15px 15px 15px;
    width: 300px;
    height: 300px;
}